#d3js-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#d3js-plt-content {
  width: 100%;
  padding: 5px;
}

#d3js-controls {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap-reverse;
}

.d3js-control-items {
  padding: 5px;
  margin: 1px;
  border: lightblue 1px solid;
}

.d3js-items {
  padding: 5px;
  margin: 5px;
  display: flex;
}

.d3js-item-col {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  min-width: 1px;
}

.d3js-item-col-country {
  width: 100px;
}

.d3js-item-col-region {
  width: 150px;
}

.d3js-item-col-state {
  width: 180px;
}

.d3js-grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.line {
  fill: none;
  stroke-width: 2px;
}

#d3js-loading {
  text-align: center;
}
